/*--------- GERAL ---------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {

  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(105, 100%, 5%);
  --paragraph:hsl(104, 16%, 24%);
  --brand-light: hsl(152, 23%, 89%);
  --brand-beige: hsl(39, 100%, 97%);


  font-size: 62.5%; /* 1rem = 10px */
  
  --nav-height: 7.2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;

  text-align: center;
}

/*-------- HEADER --------*/
header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  content: '';
  background: var(--brand-light);
  width: 100vw;
  height: calc(108rem + var(--nav-height));
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%; 
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  background: var(--primary-color);
  color: #fff;

  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;

  border: none;
  border-radius: 4rem;

  height: 6.2rem;
  width: 26.3rem;

  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;
}

header img {
  display: block;
  margin-inline: auto;
  object-position: 0 2.64rem;
}


.stats {
  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);

  width: 32.7rem;
  
  padding-block: 4rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.stat h3 {
  color: var(--headline);

  font-size: 4.8rem;
  line-height: 130%;
  font-weight: 700;

  margin-bottom: 0.4rem;
}

.stat p {
  color: var(--primary-color);

  font-size: 1.6rem;
  line-height: 150%;

  margin: 0;
}

/*-------- NAVIGATION --------*/

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path{
  fill: var(--brand-light);
}

nav.scroll svg:nth-child(2) path{
  stroke: var(--brand-light);
}

nav.scroll #icone path{
  stroke: var(--brand-light);
}

nav.scroll .menu .social a svg path{
  fill: var(--primary-color);
}

#menu {
  visibility: hidden;
  opacity: 0;
}

#menu.show {
  background: var(--primary-color);

  visibility: visible;
  opacity: 1;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  place-content: center;
}

#menu.show .top{
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 24rem;
  margin-top: 2.7rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


#menu.show ul {
  list-style-type: none;
  display: grid;
  gap: 4.8rem;
  
}

#menu.show ul li a {
  color: var(--brand-light);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
}

#menu.show ul li a::after {
  content: '';
  background: var(--brand-light);
  width: 0%;
  height: 0.2rem;

  position: absolute;
  bottom: -0.5rem;
  right: 0;

  transition: all ease-in-out 0.2s;
}

#menu.show ul li a:hover::after {
  width: 100%;
}

#menu.show ul li #btn {
  color: var(--primary-color);
  background: var(--brand-light);

  font-size: 1.8rem;
  font-weight: 700;
  
  padding: 1rem 1.75rem;

  border-radius: 4rem;
  text-transform: uppercase;
  border: 1px solid var(--brand-light);
}

#menu.show ul li #btn:hover {
  color: var(--brand-light);
  background: var(--primary-color);

  border: 1px solid var(--brand-light);
  transition: all ease-in-out 0.3s;
}

#menu.show .social {
  
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

#menu.show .social a{
  text-decoration: none;
  margin-top: 8rem;

  transition: all ease-in-out 0.2s;
}

#menu.show .social a:hover {
  margin-top: 7.5rem;
}