/*--------- GERAL ---------*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {

  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(105, 100%, 5%);
  --paragraph:hsl(104, 16%, 24%);
  --brand-light: hsl(152, 23%, 89%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-green-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /* 1rem = 10px */
  
  --nav-height: 7.2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.wapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background: var(--brand-green-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding-block: 10rem;
}

/*-------- HEADER --------*/
header {
  margin-top: calc(4.1rem + var(--nav-height));
}

header::before {
  content: '';
  background: var(--brand-light);
  width: 100%;
  height: calc(108rem + var(--nav-height));
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%; 
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  background: var(--primary-color);
  color: #fff;

  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;

  border: none;
  border-radius: 4rem;

  height: 6.2rem;
  width: 26.3rem;

  margin-bottom: 3rem;
  margin-inline: auto;

  cursor: pointer;
}

header img {
  display: block;
  margin-inline: auto;
  object-position: 0 2.64rem;
}


.stats {
  background-color: var(--brand-beige);
  border: 0.1rem solid var(--brand-light);
  border-radius: 0.6rem;

  width: 32.7rem;
  
  padding-block: 4rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

.stat h3 {
  color: var(--headline);

  font-size: 4.8rem;
  line-height: 130%;
  font-weight: 700;

  margin-bottom: 0.4rem;
}

.stat p {
  color: var(--primary-color);

  font-size: 1.6rem;
  line-height: 150%;

  margin: 0;
}

/*-------- NAVIGATION --------*/

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path{
  fill: var(--brand-light);
}

nav.scroll button path{
  stroke: var(--brand-light);
}

nav.scroll #icone path{
  stroke: var(--brand-light);
}

nav.scroll .menu .social a svg path{
  fill: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*-------- Menu-show --------*/

body.show {
  overflow: hidden;
}

body.show > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.show .open-menu {
  visibility: hidden;
  opacity: 0;

  position: relative;
  top: -100rem;

  transition: .3s;
}

body.show .menu,
body.show .close-menu{
  visibility: visible;
  opacity: 1;
  top: 0;
}

body.show .menu {
  background: var(--primary-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  padding-top: var(--nav-height);

  display: grid;
  place-content: center;
}

body.show nav{
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
}

.menu ul:nth-child(1) li a {
  color: var(--brand-light);
  position: relative;
}

.menu ul:nth-child(1) li a::after {
  content: '';
  background: var(--brand-light);

  width: 0%;
  height: 0.2rem;

  position: absolute;
  bottom: -0.5rem;
  right: 0;

  transition: all ease-in-out .3s;
}

.menu ul:nth-child(1) li a:hover::after {
  width: 100%;
}

.menu #btn {
  background: var(--brand-light);
  color: var(--primary-color);

  border-radius: 4rem;
  border: 0.2rem dashed var(--brand-light);

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;

  transition: all ease-in-out .3s;
}

.menu #btn:hover {
  background: var(--primary-color);
  color: var(--brand-light);
}

.social-links {
  display: flex;
  gap: 3.2rem;

  align-items: center;
  justify-content: center;

}

body.show .logo,
body.show nav button {
  z-index: 1;
  position: relative;
}

body.show .logo path{
  fill: var(--brand-light);
}

body.show button path {
  stroke: var(--brand-light);
}

/*-------- Services --------*/

#services header h4 {
  
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  text-transform: uppercase;

  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

#services header h2 {
  font-size: 3rem;
  color: var(--headline);
  line-height: 3.9rem;

  margin-bottom: 6rem;
}

#services .cards {
  display: grid;
  gap: 3.2rem;

}

#services .cards .card {
  background: #fff;
  padding: 2.4rem;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  text-align: left;
  align-items: center;
} 

#services .cards .card h3 {
  color: var(--headline);
  font-size: 2.4rem;

  margin-block: 1.6rem;
}

#services .cards .card p {
  font-size: 1.4rem;
  color: var(--paragraph);
}

/*-------- About --------*/

#about {
  text-align: left;
  background: #fff;
}

#about header {
  display: grid;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}

#about header h4 {
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: 0.08rem;
  text-transform: uppercase;

  color: var(--primary-color);
}

#about header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

#about .content {
  display: grid;
  gap: 6rem;
}

#about .content p {
  font-size: 1.6rem;
line-height: 150%;
  color: var(--paragraph);
}

/*-------- Contact --------*/

#contact {
  text-align: left;
}

#contact h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);

  margin-bottom: 3.2rem;
}

#contact .infors {
  display: grid;
  gap: 1.6rem;
}

#contact .infors .infor {
  display: flex;
  align-items: center;

  gap: .8rem;
}

#contact button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  background: var(--primary-color);
  color: #fff;

  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;

  border: none;
  border-radius: 4rem;

  height: 6.2rem;
  width: 26.3rem;

  margin-top: 3.2rem;
  margin-bottom: 6rem;

  cursor: pointer;
}

/*-------- Footer --------*/

footer {
  background: var(--primary-color);

  text-align: left;
  padding-block: 6rem;
  padding-inline: 2.6rem;

  position: relative;
}

footer .logo svg {
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo svg path {
  fill: var(--brand-beige);
}

footer .text {
  display: grid;
  gap: 1.2rem;

  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

footer .text p {
  color: var(--brand-beige);

  font-Size: 1.6rem;
  line-height: 2.083rem;
}

footer .social-links {
  position: absolute;
  left: 0;
  margin-left: 2.6rem;
}